<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Watch</title>
    <script defer src="/js/socket.io.js" charset="utf-8"></script>
    <script defer src="/js/jquery.min.js" charset="utf-8"></script>
    <script defer src="/js/bootstrap.bundle.min.js" charset="utf-8"></script>
    <script defer src="/js/bootstrap-toggle.min.js" charset="utf-8"></script>
    <script defer src="/js/jquery.cookie.js" charset="utf-8"></script>
    <script defer src="/js/bootbox.min.js" charset="utf-8"></script>
    <script defer src="/js/roomWatch.js" charset="utf-8"></script>
    <script defer src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script defer src="/js/jquery.easyui.min.js" charset="utf-8"  onload="
      $('#playercontainer').resizable({
        edge: 30,
        handles: 's',
        onStartResize: function(e) {
          $('#player').css('z-index', '-1');
        },
        onResize: function(e) {
          adjustTabsMenuHeight();
        },
        onStopResize: function(e) {
          $('#player').css('z-index', '0');
        }
      });
    "></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/roomWatch.css">
    <link rel="stylesheet" href="/css/bootstrap-toggle.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="/">Companion Watch</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" onclick="createRoom()">Create Room</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main>
      <div class="form-label-group videoSearch">
        <input type="text" id="videoQuery" class="form-control" placeholder="Search for YouTube Videos" onkeyup="if(event.key==='Enter')onVideoSearch()" autocomplete="off">
        <button type="button" class="btn btn-lg btn-primary btn-block videoSearchButton" name="videoSearch" onclick="onVideoSearch()">Search</button>
      </div>
      <label class="visibilityToggleWrapper">
        <span>Room visibility:</span>
        <input id="visibilityToggle" type="checkbox" data-toggle="toggle" data-on="Public" data-off="Private" onchange="changeVisibility(this.checked);">
      </label>
      <div id="playercontainer" class="easyui-resizable">
        <div id="player"></div>
      </div>
      <script type="text/javascript">
        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        var player;
        function onYouTubeIframeAPIReady() {
          player = new YT.Player('player', {
            height: '390',
            width: '640',
            events: {
              'onReady': startVideo
            }
          });
        }
      </script>
      <ul id="tabs" class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#chat" id="chatTab">Chat</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#resultsDiv" id="resultsDivTab">Video Results</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#queue" id="queueTab">Queue</a></li>
        <li class="nav-item"><a class="nav-link disabled" data-toggle="tab" href="#playlist" id="playlistTab">Playlist Controls</a></li>
      </ul>
      <div class="tab-content">
        <div id="chat" class="tab-pane active"></div>
        <div id="resultsDiv" class="tab-pane"></div>
        <div id="queue" class="tab-pane"></div>
        <div id="playlist" class="tab-pane"></div>
      </div>
    </main>
  </body>
  <template id="searchResultTemplate">
    <div class="video">
      <img class="thumbnail">
      <h2 class="videoTitle"></h2>
      <p class=channelName""></p>
    </div>
  </template>
</html>
