html {
  min-width: 95%;
}

.room a {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.btn-primary {
  background-color: #3BBA98 !important;
  border-color: #3BBA98 !important;
  color: white !important;
}

.btn-primary:hover, .btn-primary:active {
  background-color: #319B7F !important;
  border-color: #319B7F !important;
}

.border-bottom {
  border-color: #748BA2 !important;
}

.img-thumbnail {
  border-color: #888;
}
