html {
  overflow: hidden;
  min-width: 95%;
}

.toggle-off {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.toggle.off {
    border-color: rgba(0, 0, 0, .25);
}

.toggle-handle {
    background-color: white;
    border: thin rgba(0, 0, 0, .25) solid;
}

#player {
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

#messages {
  overflow-y: scroll;
}

.chat {
  display: grid;
  grid-template-rows: 1fr auto;
}

.speech-bubble {
  display: inline-block;
	position: relative;
	background: #00aabb;
	border-radius: .4em;
  padding: 0.5rem;
  width: auto;
  margin-bottom: 1.5vh;
  word-break: break-all;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border: 0.5em solid transparent;
  border-top-color: #00aabb;
  border-bottom: 0;
  margin-left: -0.25em;
  margin-bottom: -0.5em;
}

.speech-bubble-right {
  border-bottom-right-radius: 0;
}

.speech-bubble-right:after {
  border-right: 0;
  right: 0;
}

.speech-bubble-left {
  border-bottom-left-radius: 0;
}

.speech-bubble-left:after {
  border-left: 0;
  left: 4px;
}

#playlist .btn img {
  width: 32px;
  height: 32px;
}

.btn-primary {
  background-color: #3BBA98;
  border-color: #3BBA98;
  color: white !important;
}

.btn-primary:hover, .btn-primary:active {
  background-color: #319B7F !important;
  border-color: #319B7F !important;
}

.border-bottom {
  border-color: #748BA2 !important;
}

.img-thumbnail {
  border-color: #888;
}
